/* header */

header.header_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.3em;
  width: 100%;
  position: fixed;
  height: 80px;
  z-index: 110;
  gap: 2em;
}

header > div {
  display: flex;
  align-items: center;
  gap: 0.7em;
}


header .header_business,
header .header_cart {
  z-index: 110
}

header .header_cart .header_cart_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header .header_cart .header_cart_icon .count-products {
  background-color: #333;
  color: #fff;
  width: 25px;
  height: 25px;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

header .header_cart {
  justify-content: flex-end;
  position: relative;
}

header div.header_cart > span {
  font-size: 17px;
}

header div.header_cart .header_cart_icon > img {
  transition: 300ms ease;
  cursor: pointer;
  width: 30px;
  user-select: none;
}

header div.header_cart .header_cart_icon > img:hover {
  animation: shake 0.5s ease-in-out infinite reverse;
}



/* animations */

@keyframes shake {
  0%,
  100% {
    transform: rotate(0) translateX(0);
  }
  25%,
  75% {
    transform: rotate(-5deg) translateX(-5px);
  }
  50% {
    transform: rotate(5deg) translateX(5px);
  }
}

@keyframes menu_hover {
  0% {
    width: 0;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}
