div.loader { 
    position: fixed;
    background: var(--background-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 350;
}